.content.type-1 form svg {
  border-color: var(--dark-green) !important;
  fill: var(--dark-green) !important;
}

.content.type-2 form svg {
  border-color: var(--orange) !important;
  fill: var(--orange) !important;
}

.content.type-3 form svg {
  border-color: var(--green) !important;
  fill: var(--green) !important;
}

.content.type-1 form button.submit {
  background: var(--dark-green);
  color: #ddd !important;
}

.content.type-1 form button.submit:hover {
  background: #365964 !important;
}

.content.type-2 form button.submit {
  background: var(--orange);
}

.content.type-2 form button.submit:hover {
  background: #f2c810 !important;
}

.content.type-3 form button.submit {
  background: var(--green);
}

.modal form select {
  font-size: 1rem;
  margin-bottom: 8px;
  padding: 7px 10px;
}