.task {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  position: relative;
  cursor: pointer;
  border-left: 8px solid #999;
  background: var(--med-green);
  user-select: none;
}

.task:not(:last-child) {
  margin-bottom: 15px;
}

.task.status-1,
.active-task .task.status-1 {
  border-left-color: var(--dark-green);
}

.task.status-1.hover-top {
  border-top: 4px solid var(--dark-green);
}

.task.status-1.hover-bottom {
  border-bottom: 4px solid var(--dark-green);
}

.task.status-2,
.active-task .task.status-2 {
  border-left-color: var(--orange);
}

.task.status-2.hover-top {
  border-top: 4px solid var(--orange);
}

.task.status-2.hover-bottom {
  border-bottom: 4px solid var(--orange);
}

.task.status-3,
.active-task .task.status-3 {
  border-left-color: var(--green);
}

.task.status-3.hover-top {
  border-top: 4px solid var(--green);
}

.task.status-3.hover-bottom {
  border-bottom: 4px solid var(--green);
}

.task>*:not(:last-child) {
  margin-bottom: 5px;
}

.task .image {
  width: 50px;
  border: 2px solid var(--green);
  border-radius: 4px;
  margin-right: 15px;
}

.task h4 {
  color: #eee;
  margin-bottom: 5px;
}

.task .assigned {
  color: #eee;
  font-size: .8rem;
}

.task p.date {
  font-size: .75rem;
  margin-top: 7px;
  color: #ddd;
}

.task[aria-pressed="true"] {
  opacity: 0;
}