.board-column {
  background: rgba(73, 219, 168, 0.7);
  border-radius: 5px;
  min-height: 300px;
}

.board-column>h3 {
  padding: 18px 0;
  color: #fff;
  border-radius: 5px 5px 0 0;
  margin-bottom: 25px;
}

.board-column.type-1>h3 {
  background: var(--dark-green);
}

.board-column.type-2>h3 {
  background: var(--orange);
}

.board-column.type-3>h3 {
  background: #60e5b5;
  ;
}

.task-container {
  padding: 20px 45px 35px;
  flex: 1;
}

.task-container .spacer {
  min-height: 90px;
  border: 1px dashed #ddd;
}

.task-container .spacer p {
  font-size: .9rem;
  font-weight: 300;
  color: #d9d9d9;
}

.task-container p.no-tasks {
  color: #676767;
  margin-bottom: 15px;
}

.board-column .add-task-btn {
  margin-top: auto;
  border: none;
  border-bottom: 4px solid #23837e;
  padding: 23px 0;
  background: linear-gradient(to bottom, var(--dark-green), var(--med-green));
  transition: all 0.3s;
}

.board-column .add-task-btn:hover {
  background: linear-gradient(to bottom, var(--dark-green), #258a85);
}

.board-column .add-task-btn svg {
  height: 25px;
  width: 25px;
  fill: var(--green);
  margin-right: 5px;
}

.board-column .add-task-btn span {
  color: var(--green);
  font-size: .9rem;
}