footer.main-footer {
  padding: 60px 15% 0;
  background: var(--med-green);
  background: linear-gradient(to top, var(--med-green), var(--green));
  border-top: 10px solid var(--med-green);
  overflow-y: hidden;
  position: relative;
  min-height: 250px;
}

footer.main-footer p {
  color: #eee;
  font-size: 1.2rem;
  min-width: 150px;
}

footer.main-footer>div:not(:last-child) {
  margin-bottom: 10px;
}

footer.main-footer svg {
  fill: #eee;
  width: 35px;
  height: 35px;
}

footer.main-footer .copy {
  margin-top: 15px;
}

footer .rick-surprise {
  position: absolute;
  right: 300px;
  width: 170px;
  transform: rotate(10deg) translateY(-50px);
  transition: 3s forwards;
}